/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap'); */
@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Roboto Mono', monospace;
  }
}

@layer utilities {
  .animate-spin {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
