@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import 'tailwindcss';

.text-gradient {
  font-weight: 700;
  /* font-style: Bold; */
  letter-spacing: -2%;
  background: linear-gradient(180deg, #000000 0%, rgba(80, 80, 80, 0.094) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  opacity: 0.1;
}
